<?xml version="1.0"?>
<config>
    <modules>
        <Diennea_MagNews>
             <version>2.1.0</version>
        </Diennea_MagNews>
    </modules>
    <global>     
        <models>
            <magnews>
                <class>Diennea_MagNews_Model</class>
            </magnews>
        </models>   
        <helpers>
            <magnews>
                <class>Diennea_MagNews_Helper</class>
            </magnews>
        </helpers>
    </global>
</config>
